html, body{
	height: 100%;
	width: 100%;
	margin: 1px;
}


#page_title{
	/*margin: 50px auto;*/
}

h1{
	font: #444;
	font-family: 'Helvetica Neue', Arial, Sans-serif;
	font-size: 52px;

}

.container{
	width: 100%;
	height: 75%;
	margin-top: 50px;
	border: 4px solid #eee;
	border-left: none;
	border-right: none;
}


.bar_default {
	float: left;
	height: 100%;
	width: 5.88%;
/*	background-color: white;*/
	box-shadow: 1px 0 0 #eee;
}


.bar_filled_highlight{
	height: 	
	border-radius: 5px;
	background-color: red;

}

.bar_title{
	line-height: 1em;
	padding: 6px 20px;
}

.clear{
	clear: both;
}

/*test*/